<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>struts</display-name>
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:application.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <filter-class>
           org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
       </filter-class>
   </filter>
 
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/getProvinceData.action</url-pattern>
   </filter-mapping>
  <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/customer/custManage.action</url-pattern>
   </filter-mapping>
  <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/statistic/listCust.action</url-pattern>
   </filter-mapping>
    <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/dept/getDept.action</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/customer/updateCust.action</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/customer/doSearch.action</url-pattern>
   </filter-mapping>
    <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/customer/doSearchTodayCust.action</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/loadMainAction.action</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/user/getUserByDept.action</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>OpenSessionInViewFilter</filter-name>
       <url-pattern>/customer/shareCust.action</url-pattern>
   </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
     org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>